*~
.bundle
db/schema.rb
db/*.sqlite3
log/*
tmp/**/*
config/database.yml
config/sunspot.yml
.idea/
*_core.*
*_delta.*
*.bat
*.sphinx.conf
*.jar
*.pid
Gemfile.lock
solr/data/**/*
.sass-cache/
public/assets/**/*
public/assets/*
php
.rspec
.rvmrc
development.log
coverage/
public/source_maps/
