%header.subhead#overview
  %h2 Edit Container Description Pattern
  .subnav
    %ul.nav.nav-pills
      %li= link_to "Show", [:admin, @lcontainer_desc_pattern]
      %li= link_to "View All", admin_container_description_patterns_path

= render 'form'
