// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
//@import "partials/two_col";

@import "compass/utilities/tables";

#container{
  @include container;
}

.metadata{
  @include column($blueprint-grid-columns / 2);
  @include border;//(gray, 1px);
  label{
    @include column(3);
    margin-top: 8px; //TODO: bad fix - should find something better
  }
  .auto-parse{
    @include prepend(8);
    @include column(3);
    @include append(1);
  }
}
.catalogs{
  @include column(($blueprint-grid-columns - 2) / 2, true);
  @include prepend(1);
  .list{
    ul{
      padding:0;
      margin:0;
      input{
        padding: 0 3px;
      }
    }
    input{
      border: 0 none !important;
    }
  }
  .rss{
    float: right;
    @include append(1);
    p{
        margin: 0;
    }
  }
}
.spacer{
  @inclue colspacer;
}

@mixin mitem($last: false){
  @include column(($blueprint-grid-columns - 3) / 3, $last);
  @include prepend(1);
    textarea{
      width: $blueprint-grid-width * ($blueprint-grid-columns / 3);
      height: 60px;
    }
}
.descriptions{
  .item0, .item1{
    @include mitem;
  }
  .item2{
    @include mitem(true);
  }
  .item-hidden{
    display: none;
  }
  .all-langs{
    @include column(24, true);
    @include pull(1);
    text-align: right;
    padding-bottom: 10px;
  }
}

table{
  $table-color: #7a98c6;
  @include table-scaffolding;
  @include outer-table-borders(1px, darken($table-color, 20%));
  @include inner-table-borders(1px, $table-color);
  @include alternating-rows-and-columns($table-color, lighten($table-color, 35%), false);
  .small{
    font-size: 95%;
  }
  tr.advanced td, tr.beginner td, tr.intermediate td{
    background-color: lighten(red, 45%) !important;
  }
}
nav.pagination{
  span{
    padding: 0 3px;
  }
  .current, .prev, .next{
    font-weight: bold;
  }
}
nav.main{
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid silver;
  text-align: right;
  a{
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
  }
  a:nth-child(n+2){
    padding-left: 10px;
    border-left: 2px solid black;
  }
}
.current_user{
  float: left;
}
.unable,a.unable:visited{
 color: gray !important;
 text-decoration: none !important;
}
.filter{
  a.selected{
    font-weight:bold;
  }
}