ul.books-catalog-results
  - Catalog.find(id).lessons.includes(:lesson_descriptions).each do |lesson|
    li.books-catalog-results-item
      = render 'common_ui/one_lesson', item: lesson, only_download: true
