.item
  .padding-both
    %h4.clearfix
      %a.pull-left
        = @last_lesson.lessonname
        = @last_lesson.created.strftime '%Y-%02m-%02d'
      .pull-right
        - if @prev_lesson
          = link_to '<', url_for(:before_lesson => @last_lesson.lessonid)
        - else
          &lt;
        - if @next_lesson
          = link_to '>', url_for(:after_lesson => @last_lesson.lessonid)
        - else
          &gt;
    - available_languages = @last_lesson
    .languages-bar
      %ul.nav.nav-tabs
        %li.tabs-title Available languages:
        %li.active
          %a{:href => '#he-player', :'data-toggle' => 'tab'} HE
        %li
          %a{:href => '#en-player', :'data-toggle' => 'tab'} EN
        %li
          %a{:href => '#es-player', :'data-toggle' => 'tab'} ES
        %li
          %a{:href => '#jp-player', :'data-toggle' => 'tab'} JP
  .tab-content
    #he-player.tab-pane.active.fade.in
      .row
        .span5
          .padding-left
            %h4.pull-left Play:
            .pull-right.toggle
              %a.right-switch-link(href="javascript:;") audio
              .switch
                %i.icon-km-small-video>
                %i.icon-km-small-audio>
                .left.btn.btn-mini.btn-primary(href="javascript:;")>
                  %i.icon-km-small-white-video>
              %a.left-switch-link(href="javascript:;") video
            %img(src="https://dl.dropbox.com/u/208274/player.gif")
            .btn-toolbar
              .btn-group
                %button.active.btn.btn-mini Preparation
                %button.active.btn.btn-mini Part 1
                %button.active.btn.btn-mini Part 2
                %button.active.btn.btn-mini Part 3
                %button.active.btn.btn-mini Part 4
              .btn-group.pull-right
                %button.btn.btn-mini
                  %i.icon-picture
                  Images
                %button.btn.btn-mini
                  %i.icon-list
                  Text
        .span4
          .padding-right
            %h4 Download:
            %table.media-table.table.table-condensed.table-hover.table-bordered.table-striped
              %thead
                %tr
                  %th.left-aligned-column Lesson Part
                  %th
                    %i.icon-km-small-video
                  %th
                    %i.icon-km-small-video
                  %th
                    %i.icon-km-small-audio
                  %th
                    %i.icon-km-small-text
                  %th
                    %i.icon-km-small-image
              %tbody
                %tr
                  %td.left-aligned-column
                    %a(href='#') Preparation
                  %td
                    %a.show-tooltip(href='#' rel="tooltip" data-animation="true" data-placement="top" title="wmv | 3.3Mb |  5:10:11")
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                %tr
                  %td.left-aligned-column
                    %a{:href => '#'} Part 1
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                %tr
                  %td.left-aligned-column
                    %a{:href => '#'} Part 2
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                %tr
                  %td.left-aligned-column
                    %a{:href => '#'} Part 3
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                %tr
                  %td.left-aligned-column
                    %a{:href => '#cat1', :'data-toggle' => "modal"} Whole Lesson
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download
                  %td
                    %a{:href => '#'}
                      %i.icon-download