.navbar
  .navbar-inner
    %ul.nav
      %li
        %a{:href => '#cat1', :'data-toggle' => "modal"} Main Category 1
      %li.divider-vertical
      %li
        %a{:href => '#cat2', :'data-toggle' => "modal"} Main Category 2
      %li.divider-vertical
      %li
        %a{:href => '#cat3', :'data-toggle' => "modal"} Main Category 3
      %li.divider-vertical
      %li
        %a{:href => '#cat4', :'data-toggle' => "modal"} Main Category 4
      %li.divider-vertical
      %li
        %a{:href => '#cat5', :'data-toggle' => "modal"} Main Category 5
      %li.divider-vertical
      %li
        %a{:href => '#all', :'data-toggle' => "modal"} All Categories

#cat1.category-modal.modal.hide(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop='false')
  .modal-header
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
    %ul.breadcrumb
      %li
        %a(href='')
          Home
        %span.divider /
      %li
        %a(href='')
          Home
        %span.divider /
      %li
        %a(href='')
          Home
        %span.divider /
      %li.active
        Home
  .modal-body
    .categories.column1
      %ul
        %li
          %a{:href => 'javascript:;'} Red
        %li
          %a{:href => 'javascript:;'} Orange
        %li
          %a{:href => 'javascript:;'} Yellow
        %li
          %a{:href => 'javascript:;'} Green
        %li
          %a{:href => 'javascript:;'} Blue
        %li
          %a{:href => 'javascript:;'} Violet
    .categories.column2
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 1
        %li
          %a{:href => 'javascript:;'} Red - Page 2
        %li
          %a{:href => 'javascript:;'} Red - Page 3
        %li
          %a{:href => 'javascript:;'} Red - Page 4
        %li
          %a{:href => 'javascript:;'} Red - Page 5
        %li
          %a{:href => 'javascript:;'} Red - Page 6
        %li
          %a{:href => 'javascript:;'} Red - Page 7
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 1
        %li
          %a{:href => 'javascript:;'} Orange - Page 2
        %li
          %a{:href => 'javascript:;'} Orange - Page 3
        %li
          %a{:href => 'javascript:;'} Orange - Page 4
        %li
          %a{:href => 'javascript:;'} Orange - Page 5
        %li
          %a{:href => 'javascript:;'} Orange - Page 6
        %li
          %a{:href => 'javascript:;'} Orange - Page 7
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 1
        %li
          %a{:href => 'javascript:;'} Yellow - Page 2
        %li
          %a{:href => 'javascript:;'} Yellow - Page 3
        %li
          %a{:href => 'javascript:;'} Yellow - Page 4
        %li
          %a{:href => 'javascript:;'} Yellow - Page 5
        %li
          %a{:href => 'javascript:;'} Yellow - Page 6
        %li
          %a{:href => 'javascript:;'} Yellow - Page 7
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 1
        %li
          %a{:href => 'javascript:;'} Green - Page 2
        %li
          %a{:href => 'javascript:;'} Green - Page 3
        %li
          %a{:href => 'javascript:;'} Green - Page 4
        %li
          %a{:href => 'javascript:;'} Green - Page 5
        %li
          %a{:href => 'javascript:;'} Green - Page 6
        %li
          %a{:href => 'javascript:;'} Green - Page 7
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 1
        %li
          %a{:href => 'javascript:;'} Blue - Page 2
        %li
          %a{:href => 'javascript:;'} Blue - Page 3
        %li
          %a{:href => 'javascript:;'} Blue - Page 4
        %li
          %a{:href => 'javascript:;'} Blue - Page 5
        %li
          %a{:href => 'javascript:;'} Blue - Page 6
        %li
          %a{:href => 'javascript:;'} Blue - Page 7
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 1
        %li
          %a{:href => 'javascript:;'} Violet - Page 2
        %li
          %a{:href => 'javascript:;'} Violet - Page 3
        %li
          %a{:href => 'javascript:;'} Violet - Page 4
        %li
          %a{:href => 'javascript:;'} Violet - Page 5
        %li
          %a{:href => 'javascript:;'} Violet - Page 6
        %li
          %a{:href => 'javascript:;'} Violet - Page 7
    .categories.column3
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 1 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 1 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 1 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 1 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 1 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 2 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 2 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 2 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 2 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 2 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 3 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 3 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 3 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 3 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 3 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 4 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 4 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 4 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 4 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 4 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 5 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 5 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 5 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 5 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 5 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 6 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 6 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 6 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 6 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 6 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 7 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 7 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 7 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 7 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 7 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 1 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 1 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 1 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 1 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 1 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 2 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 2 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 2 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 2 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 2 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 3 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 3 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 3 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 3 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 3 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 4 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 4 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 4 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 4 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 4 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 5 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 5 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 5 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 5 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 5 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 6 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 6 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 6 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 6 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 6 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 7 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 7 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 7 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 7 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 7 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 1 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 1 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 1 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 1 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 1 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 2 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 2 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 2 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 2 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 2 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 3 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 3 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 3 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 3 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 3 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 4 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 4 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 4 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 4 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 4 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 5 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 5 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 5 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 5 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 5 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 6 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 6 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 6 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 6 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 6 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 7 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 7 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 7 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 7 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 7 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 1 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 1 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 1 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 1 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 1 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 2 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 2 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 2 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 2 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 2 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 3 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 3 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 3 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 3 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 3 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 4 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 4 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 4 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 4 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 4 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 5 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 5 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 5 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 5 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 5 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 6 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 6 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 6 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 6 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 6 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 7 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 7 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 7 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 7 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 7 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 1 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 1 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 1 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 1 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 1 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 2 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 2 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 2 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 2 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 2 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 3 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 3 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 3 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 3 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 3 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 4 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 4 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 4 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 4 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 4 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 5 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 5 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 5 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 5 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 5 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 6 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 6 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 6 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 6 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 6 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 7 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 7 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 7 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 7 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 7 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 1 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 1 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 1 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 1 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 1 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 2 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 2 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 2 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 2 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 2 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 3 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 3 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 3 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 3 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 3 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 4 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 4 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 4 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 4 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 4 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 5 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 5 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 5 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 5 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 5 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 6 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 6 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 6 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 6 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 6 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 7 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 7 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 7 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 7 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 7 - e
  .modal-footer
    %button.btn(data-dismiss="modal" aria-hidden="true") Cancel
    %button.btn.btn-primary Choose Category
#cat2.category-modal.modal.hide(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop='false')
  .modal-header
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
    %ul.breadcrumb
      %li.active
        Not Home
  .modal-body
    .categories.column1
      %ul
        %li
          %a{:href => 'javascript:;'} Red
        %li
          %a{:href => 'javascript:;'} Orange
        %li
          %a{:href => 'javascript:;'} Yellow
        %li
          %a{:href => 'javascript:;'} Green
        %li
          %a{:href => 'javascript:;'} Blue
        %li
          %a{:href => 'javascript:;'} Violet
    .categories.column2
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 1
        %li
          %a{:href => 'javascript:;'} Red - Page 2
        %li
          %a{:href => 'javascript:;'} Red - Page 3
        %li
          %a{:href => 'javascript:;'} Red - Page 4
        %li
          %a{:href => 'javascript:;'} Red - Page 5
        %li
          %a{:href => 'javascript:;'} Red - Page 6
        %li
          %a{:href => 'javascript:;'} Red - Page 7
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 1
        %li
          %a{:href => 'javascript:;'} Orange - Page 2
        %li
          %a{:href => 'javascript:;'} Orange - Page 3
        %li
          %a{:href => 'javascript:;'} Orange - Page 4
        %li
          %a{:href => 'javascript:;'} Orange - Page 5
        %li
          %a{:href => 'javascript:;'} Orange - Page 6
        %li
          %a{:href => 'javascript:;'} Orange - Page 7
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 1
        %li
          %a{:href => 'javascript:;'} Yellow - Page 2
        %li
          %a{:href => 'javascript:;'} Yellow - Page 3
        %li
          %a{:href => 'javascript:;'} Yellow - Page 4
        %li
          %a{:href => 'javascript:;'} Yellow - Page 5
        %li
          %a{:href => 'javascript:;'} Yellow - Page 6
        %li
          %a{:href => 'javascript:;'} Yellow - Page 7
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 1
        %li
          %a{:href => 'javascript:;'} Green - Page 2
        %li
          %a{:href => 'javascript:;'} Green - Page 3
        %li
          %a{:href => 'javascript:;'} Green - Page 4
        %li
          %a{:href => 'javascript:;'} Green - Page 5
        %li
          %a{:href => 'javascript:;'} Green - Page 6
        %li
          %a{:href => 'javascript:;'} Green - Page 7
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 1
        %li
          %a{:href => 'javascript:;'} Blue - Page 2
        %li
          %a{:href => 'javascript:;'} Blue - Page 3
        %li
          %a{:href => 'javascript:;'} Blue - Page 4
        %li
          %a{:href => 'javascript:;'} Blue - Page 5
        %li
          %a{:href => 'javascript:;'} Blue - Page 6
        %li
          %a{:href => 'javascript:;'} Blue - Page 7
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 1
        %li
          %a{:href => 'javascript:;'} Violet - Page 2
        %li
          %a{:href => 'javascript:;'} Violet - Page 3
        %li
          %a{:href => 'javascript:;'} Violet - Page 4
        %li
          %a{:href => 'javascript:;'} Violet - Page 5
        %li
          %a{:href => 'javascript:;'} Violet - Page 6
        %li
          %a{:href => 'javascript:;'} Violet - Page 7
    .categories.column3
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 1 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 1 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 1 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 1 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 1 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 2 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 2 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 2 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 2 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 2 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 3 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 3 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 3 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 3 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 3 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 4 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 4 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 4 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 4 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 4 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 5 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 5 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 5 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 5 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 5 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 6 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 6 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 6 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 6 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 6 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Red - Page 7 - a
        %li
          %a{:href => 'javascript:;'} Red - Page 7 - b
        %li
          %a{:href => 'javascript:;'} Red - Page 7 - c
        %li
          %a{:href => 'javascript:;'} Red - Page 7 - d
        %li
          %a{:href => 'javascript:;'} Red - Page 7 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 1 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 1 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 1 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 1 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 1 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 2 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 2 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 2 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 2 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 2 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 3 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 3 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 3 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 3 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 3 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 4 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 4 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 4 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 4 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 4 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 5 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 5 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 5 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 5 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 5 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 6 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 6 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 6 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 6 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 6 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Orange - Page 7 - a
        %li
          %a{:href => 'javascript:;'} Orange - Page 7 - b
        %li
          %a{:href => 'javascript:;'} Orange - Page 7 - c
        %li
          %a{:href => 'javascript:;'} Orange - Page 7 - d
        %li
          %a{:href => 'javascript:;'} Orange - Page 7 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 1 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 1 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 1 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 1 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 1 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 2 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 2 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 2 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 2 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 2 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 3 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 3 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 3 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 3 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 3 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 4 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 4 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 4 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 4 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 4 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 5 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 5 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 5 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 5 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 5 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 6 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 6 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 6 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 6 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 6 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Yellow - Page 7 - a
        %li
          %a{:href => 'javascript:;'} Yellow - Page 7 - b
        %li
          %a{:href => 'javascript:;'} Yellow - Page 7 - c
        %li
          %a{:href => 'javascript:;'} Yellow - Page 7 - d
        %li
          %a{:href => 'javascript:;'} Yellow - Page 7 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 1 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 1 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 1 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 1 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 1 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 2 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 2 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 2 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 2 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 2 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 3 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 3 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 3 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 3 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 3 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 4 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 4 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 4 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 4 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 4 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 5 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 5 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 5 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 5 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 5 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 6 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 6 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 6 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 6 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 6 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Green - Page 7 - a
        %li
          %a{:href => 'javascript:;'} Green - Page 7 - b
        %li
          %a{:href => 'javascript:;'} Green - Page 7 - c
        %li
          %a{:href => 'javascript:;'} Green - Page 7 - d
        %li
          %a{:href => 'javascript:;'} Green - Page 7 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 1 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 1 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 1 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 1 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 1 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 2 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 2 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 2 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 2 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 2 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 3 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 3 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 3 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 3 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 3 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 4 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 4 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 4 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 4 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 4 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 5 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 5 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 5 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 5 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 5 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 6 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 6 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 6 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 6 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 6 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Blue - Page 7 - a
        %li
          %a{:href => 'javascript:;'} Blue - Page 7 - b
        %li
          %a{:href => 'javascript:;'} Blue - Page 7 - c
        %li
          %a{:href => 'javascript:;'} Blue - Page 7 - d
        %li
          %a{:href => 'javascript:;'} Blue - Page 7 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 1 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 1 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 1 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 1 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 1 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 2 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 2 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 2 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 2 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 2 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 3 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 3 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 3 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 3 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 3 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 4 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 4 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 4 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 4 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 4 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 5 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 5 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 5 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 5 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 5 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 6 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 6 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 6 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 6 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 6 - e
      %ul
        %li
          %a{:href => 'javascript:;'} Violet - Page 7 - a
        %li
          %a{:href => 'javascript:;'} Violet - Page 7 - b
        %li
          %a{:href => 'javascript:;'} Violet - Page 7 - c
        %li
          %a{:href => 'javascript:;'} Violet - Page 7 - d
        %li
          %a{:href => 'javascript:;'} Violet - Page 7 - e
  .modal-footer
    %button.btn(data-dismiss="modal" aria-hidden="true") Cancel
    %button.btn.btn-primary Choose Category
