#sidebar.span3
  %ul.nav.nav-list
    %li.nav-header Filter by Date
    %li.active
      %a{:href => '#'}
        %i.icon-km-all
        Anytime
    %li
      %a{:href => '#'}
        %i.icon-km-today
        Today
    %li
      %a{:href => '#'}
        %i.icon-km-week
        Current Week
    %li
      %a{:href => '#'}
        %i.icon-km-month
        Current Month
    %li
      %a{:href => '#'}
        %i.icon-km-daterange
        Date Range
    %li.divider
  #ul.nav.nav-list
    %li.nav-header Filter by Content Type
    %li
      %a{:href => '#'}
        %i.icon-km-all All
    %li.active
      %a{:href => '#'}
        %i.icon-km-lesson
        Lesson
    %li.active
      %a{:href => '#'}
        %i.icon-km-lecture
        Lecture
    %li
      %a{:href => '#'}
        %i.icon-km-program
        Program
    %li
      %a{:href => '#'}
        %i.icon-km-song
        Song
    %li
      %a{:href => '#'}
        %i.icon-km-clip
        Clip
    %li
      %a{:href => '#'}
        %i.icon-km-book
        Book
    %li
      %a{:href => '#'}
        %i.icon-km-declamation
        Declamation
    %li.divider
  %ul.nav.nav-list
    %li.nav-header Filter by Media Type
    %li.active
      %a{:href => '#'}
        %i.icon-km-all
        All
    %li
      %a{:href => '#'}
        %i.icon-km-audio
        Audio
    %li
      %a{:href => '#'}
        %i.icon-km-video
        Video
    %li
      %a{:href => '#'}
        %i.icon-km-text
        Text
    %li
      %a{:href => '#'}
        %i.icon-km-image
        Image
