.tags
  %a.label.label-important{:href => '#'}> all tags
  %a.label.label-info{:href => '#'}> nam
  %a.label.label-info{:href => '#'}> modo
  %a.label.label-info{:href => '#'}> commodo
  %a.label.label-info{:href => '#'}> signiferumque
  %a.label.label-info{:href => '#'}> facilisi
  %a.label.label-info{:href => '#'}> dignissi
  %a.label.label-info{:href => '#'}> ac
  %a.label.label-info{:href => '#'}> nam
  %a.label.label-info{:href => '#'}> modo
  %a.label.label-info{:href => '#'}> commodo
  %a.label.label-info{:href => '#'}> signiferumque
  %a.label.label-info{:href => '#'}> facilisi
  %a.label.label-info{:href => '#'}> dignissi
  %a.label.label-info{:href => '#'}> ac
  %a.label.label-info{:href => '#'}> nam
  %a.label.label-info{:href => '#'}> modo
  %a.label.label-info{:href => '#'}> commodo
  %a.label.label-info{:href => '#'}> signiferumque
  %a.label.label-info{:href => '#'}> facilisi
  %a.label.label-info{:href => '#'}> dignissi
  %a.label.label-info{:href => '#'}> ac
  %a.label.label-info{:href => '#'}> nam
  %a.label.label-info{:href => '#'}> modo
  %a.label.label-info{:href => '#'}> commodo
  %a.label.label-info{:href => '#'}> signiferumque
  %a.label.label-info{:href => '#'}> facilisi
