/* 
	1.3 
	transition: color 0.35s , background-color 0.35s;
*/


[id^="UAMQIHj"] {
	width: calc(20px * 1.3);
	height: calc(20px * 1.3);
}

.andiOpenSubMenu { 
	width: calc(15px * 1.3);
	height: calc(15px * 1.3);
	
}
#UAccDvQLs, #UAdOAIqDE {
	max-height:calc(510px * 1.3) !important;
}


.UAHMbcBkPL,
#UAHMbcBkPL {
	width: calc(30px * 1.3);
	height: calc(30px * 1.3);
}

#UAxJCfiwBw input[type="image"], #UAgTguVtK input[type="image"] {
	width:calc(15px * 1.3) ;
	height:calc(15px * 1.3) ;
	margin: calc(7px * 1.3) calc(5px * 1.3) calc(3px * 1.3);
}
#UAuvtzHXg img{
	width: calc(23px * 1.3) !important;
}

#UAbczwv, #UAbczwv *, #UAzrZoBQU, #UAzrZoBQU * ,#UAUWyCWOy,#UATeDJA *{
	line-height: calc(20px * 1.3);
	font-size:calc(16px * 1.3);
}

#UAMkOFIJ img{
	margin-top:calc(5% * 1.3);
	width:calc(35px * 1.3);
	height:calc(35px * 1.3);
}


.UAQCawiDakeBuggerMenu{
	font-size: calc(24px * 1.3) !important;
}

#UAAvTfAy > div > div > div:hover::before, #UAAvTfAy > div > div > div:hover::before {
	border-left: calc(20px * 1.3) solid transparent;
	border-right: calc(20px * 1.3) solid transparent;
	border-top: calc(20px * 1.3) solid #f00;
}
		
#UAAvTfAy > div > div > div:focus:before, #UAAvTfAy > div > div > div:focus:before {
	border-width: 0 calc(100px * 1.3) calc(100px * 1.3) calc(100px * 1.3);
}

#UAAvTfAy > div > div > div:hover:after, #UAAvTfAy > div > div > div:hover:after {
	border-radius: calc(1px * 1.3);
	padding: calc(5px * 1.3) calc(5px * 1.3);

}




 #UAAvTfAy > div > div > div:focus:after, #UAAvTfAy > div > div > div:focus:after {
	border-radius: calc(1px * 1.3);
	
	padding: calc(5px * 1.3) calc(5px * 1.3);
	
}

#UAbczwv {
	width: calc(320px * 1.3)  !important;
}

#UAsKoMdec {
    width:calc(233px * 1.3);
    height:calc(233px * 1.3);
}


#UAOYvZyBK {
	width:calc(320px * 1.3);
	height:calc(30px * 1.3);
	padding:calc(5px * 1.3);
}
#UAsKoMdec input {
	width:calc(40px * 1.3);
	height:calc(20px * 1.3);
}

#UATLnwv {
	width:calc(320px * 1.3);
	height:calc(165px * 1.3);
	font-size:calc(16px * 1.3);
	padding:calc(5px * 1.3) calc(10px * 1.3);
}
#UATLnwv *{
	font-size:calc(16px * 1.3);
}

#UAjssvFSG{
	font-size:calc(16px * 1.3);
	padding:calc(5px * 1.3) calc(5px * 1.3);

}
#UAaRtYXpwS{
	width:calc(85px * 1.3);
	height:calc(35px * 1.3);
	margin-top: calc(110px * 1.3);
	border-radius: calc(3px * 1.3);
	font-size:calc(20px * 1.3);
	padding-top: calc(7px * 1.3);

}

#UAOTXpJfp{
	width:calc(85px * 1.3);
	height:calc(35px * 1.3);
	margin-top: calc(110px * 1.3);
	border-radius: calc(3px * 1.3);
	font-size:calc(20px * 1.3);
	padding-top: calc(7px * 1.3);
}

#UAyUDbK{
	height:calc(7px * 1.3)75px;
}
#UAcBEcdM{
	height:calc(1px * 1.3);
	margin:calc(2px * 1.3) 0;

}
#UAgsukJeTN{
	height:calc(75px * 1.3);
	margin-top: calc(-8px * 1.3);
}

#UALDNUDQow {
	width:calc(320px * 1.3);
	height:calc(35px * 1.3);
	padding:calc(2px * 1.3) calc(2px * 1.3);
	font-size:calc(14px * 1.3);
}

#UALDNUDQow a{
    padding:calc(2px * 1.3) calc(2px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAbczwv #UAvQIeSGba {
	width: calc(320px * 1.3);
	height: calc(30px * 1.3);
}

#UAbczwv #UAvQIeSGba #UAxJCfiwBw #UAKfLrafQz, #UAbczwv #UAvQIeSGba #UAxJCfiwBw #UAoSarCRCU, #UAbczwv #UAvQIeSGba #UAxJCfiwBw #UAMiRzEiLB {
	width: calc(30px * 1.3);
	height: calc(30px * 1.3);
}

#UAbczwv #UAAvTfAy {
	width: calc(320px * 1.3);
	height: calc(65px * 1.3);

}

#UAbczwv #UAAvTfAy > div > div > div svg {
	margin: calc(10px * 1.3) auto 0;
	width: calc(35px * 1.3);
}

#UAbczwv #UAAvTfAy .UAAvTfAyMarkIfSelected {
	height: calc(3px * 1.3);
	width: calc(80px * 1.3);
}

#UAbczwv #UAAvTfAy > div {
	line-height: calc(4px * 1.3);
}

#UAbczwv .UArAOiIOrm{
	height: calc(3px * 1.3);
}

#UAbczwv #UAAvTfAy > div > div {
	width: calc(80px * 1.3);
	height: calc(64px * 1.3);
}

#UAbczwv #UAvmzSqxD {
	width: calc(320px * 1.3);
	height: calc(65px * 1.3);
	padding-top: calc(16px * 1.3);
}

#UABxvJYPm ,#UASWGuyCy {
	font-size: calc(14px * 1.3);
	line-height: calc(30px * 1.3);
}
#UABWJfQ ,#UApFbZC{
	font-size: calc(18px * 1.3);
	border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
	-moz-border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
	-webkit-border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	padding: 0px calc(10px * 1.3);
	width:calc(295px * 1.3);
	line-height: calc(30px * 1.3);	
	height: calc(30px * 1.3);

}

#UAbczwv #UAvmzSqxD #UAYwhEGv #UABWJfQ img{
	width:calc(25px * 1.3);
	margin: calc(6px * 1.3) calc(-2px * 1.3);
}

#UAbczwv #UAvmzSqxD #UAYwhEGv #UABWJfQ img.UAftdSmeeActiveBasicAcccessibilityIcon {
	margin: calc(6px * 1.3) calc(-2px * 1.3);
}

#UAbczwv #UAqFHYQZr {
	width: calc(320px * 1.3);
	height: calc(35px * 1.3);
	box-shadow: inset 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
}


#UARyZyR {
	width: calc(320px * 1.3);
	height: calc(32px * 1.3);
}

#UAbczwv #UAqFHYQZr #UAqRoMZkML {
	margin: 0px calc(10px * 1.3);
	font-size: calc(16px * 1.3);
	width: calc(300px * 1.3);
	height: calc(30px * 1.3);
    padding-top: calc(7px * 1.3);
}

#UAbczwv #UAqFHYQZr img {
	width: calc(14px * 1.3);
	height: calc(5px * 1.3);
	margin: calc(7px * 1.3) calc(128px * 1.3) 0 0;
}

#UAbczwv #UAtsrTI {
	width: calc(320px * 1.3);
	height: calc(410px * 1.3);
}


#UAbczwv  #UAVHaHDBW {
	width: calc(320px * 1.3);
	height: calc(35px * 1.3);
	padding:0 calc(3px * 1.3) 0;
}

#UAbczwv  #UAVHaHDBW a {
	font-size: calc(14px * 1.3);
	line-height: calc(35px * 1.3);
}



#UAbczwv .UASwFSRTjg .UAVHaHDBW {
	width: calc(320px * 1.3);
	height: calc(35px * 1.3);
	padding:0 calc(3px * 1.3) 0;
}

#UAbczwv .UASwFSRTjg .UAVHaHDBW a {
	font-size: calc(14px * 1.3);
	line-height: calc(35px * 1.3);
}

#UAbczwv #UAtsrTI .UAWoYFXgEL {
	margin: calc(7px * 1.3) 0px 0px calc(7px * 1.3);
	-webkit-box-shadow: 0px 0px calc(5px * 1.3) calc(-2px * 1.3) rgba(0,0,0,0.54);
	-moz-box-shadow: 0px 0px calc(5px * 1.3) calc(-2px * 1.3) rgba(0,0,0,0.54);
	box-shadow: 0px 0px calc(5px * 1.3) calc(-2px * 1.3) rgba(0,0,0,0.54);
   
}

#UAbczwv #UAtsrTI .UAMJAJzcz {
	width: calc(150px * 1.3);
	height: calc(195px * 1.3);
}

#UAbczwv #UAtsrTI .UAMJAJzcz p {
	line-height: calc(20px * 1.3);
	width: calc(133px * 1.3);
	height: calc(60px * 1.3);
	font-size: calc(18px * 1.3) !important;
	padding-top: calc(118px * 1.3);
}

#UAbczwv .UAEqbmS .UAiKABgert  p {
	font-size: calc(16px * 1.3) !important;
	padding: calc(2px * 1.3) calc(3px * 1.3);
}


#UAAzQMnBNj {
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.85);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.85);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.85);
}

#UAbczwv #UAtsrTI .UASwFSRTjg {
	width: calc(338px * 1.3);
	height: calc(575px * 1.3);
}

#UAbczwv #UAtsrTI .UAWoYFXgEL .UASlKdBxf {
	width: calc(320px * 1.3);
	height: calc(64px * 1.3);
	-webkit-box-shadow: 0px calc(4px * 1.3) calc(5px * 1.3) calc(-4px * 1.3) rgba(0,0,0,0.7);
	-moz-box-shadow: 0px calc(4px * 1.3) calc(5px * 1.3)5px calc(-4px * 1.3) rgba(0,0,0,0.7);
	box-shadow: 0px calc(4px * 1.3) calc(5px * 1.3)5px calc(-4px * 1.3) rgba(0,0,0,0.7);
}

#UAbczwv #UAtsrTI .UAWoYFXgEL .UAEqbmS {
	width: calc(320px * 1.3); 	
}

#UAbczwv #UAtsrTI .UAWoYFXgEL .UAjgrQjm {
	width: calc(320px * 1.3);
	margin-top: calc(30px * 1.3);
}

#UAbczwv #UAtsrTI .UAWoYFXgEL #UAmsEMfkR {
	width: calc(300px * 1.3);
	height: calc(185px * 1.3);
	padding-top: calc(10px * 1.3);
}

#UAbczwv #UAtsrTI .UAWoYFXgEL #UAQsTjg {
	width: calc(145px * 1.3);
	height: calc(185px * 1.3);
}

#UAtsrTI .UAaynqhq {
	width: calc(149px * 1.3);
	height: calc(110px * 1.3);
}

#UAcNsOcEQK .UAquGmvspace {
	width:calc(45px * 1.3);
	height:calc(35px * 1.3);
}

#UAcNsOcEQK .UAquGmvspace img{
	width:calc(35px * 1.3);
	height:calc(25px * 1.3);
}


#UAtsrTI .UAphalh img {
	margin: 0px calc(3px * 1.3) 0 !important;
}



#UAtsrTI .UAphalh {
	width: calc(150px * 1.3) !important;
	height: calc(110px * 1.3) !important;
}

#UAtsrTI .UAaynqhq .UANxZGxa {
	margin: calc(10px * 1.3) auto 0;
	padding: 0 calc(12px * 1.3);
}

#UAQsTjg label {
	margin: calc(5px * 1.3) calc(15px * 1.3) 0;
	font-size: calc(13px * 1.3);
}

#UAckvdWIxG {
	margin: 0 calc(15px * 1.3);
	font-size: calc(16px * 1.3);
	height: calc(20px * 1.3);
	border-bottom: calc(1px * 1.3) solid #fff;
}

#UAckvdWIxG:before {
	font-size: calc(18px * 1.3);
	height: calc(20px * 1.3);
}

#UAckvdWIxG option{
	width: calc(150px * 1.3);
	margin: 0 calc(15px * 1.3);
	font-size: calc(16px * 1.3);
	height: calc(35px * 1.3);
	border-radius: calc(2px * 1.3);	
}

#UAbczwv #UAtsrTI .UAWoYFXgEL #UAOkoQia {
	width: calc(124px * 1.3);
	height: calc(50px * 1.3);
}

#UAbczwv #UAtsrTI .UAWoYFXgEL #UAOkoQia label {
	margin: calc(5px * 1.3) calc(15px * 1.3) 0;
	font-size: calc(30px * 1.3);
}

#UAbczwv #UAtsrTI .UAWoYFXgEL #UAOkoQia input[type="number"] {
	border: calc(1px * 1.3) solid #fff;
	height:calc(20px * 1.3);
}

#UAOkoQia input[type="number"]:after {
	
	font-size: calc(11px * 1.3);
}

#UAOkoQia input[type="number"]:before {
	margin-bottom: calc(-14% * 1.3);
	font-size: calc(11px * 1.3);
}

#UAwfKERjSw, #UAnMdSfCn {
	font-size: calc(13px * 1.3);
}

#UAbczwv #UAtsrTI .UAWoYFXgEL #UAQoOZfnAh, #UAbczwv #UAtsrTI .UAWoYFXgEL #UAFZSkzjR {
	border: calc(1px * 1.3) solid #fff;
	height: calc(20px * 1.3);
}

#UAQoOZfnAh:after, UAFZSkzjR:after {
	
	font-size: calc(11px * 1.3);
}

#UAQoOZfnAh:before, UAFZSkzjR:before {
	
	font-size: calc(11px * 1.3);
}
#UAmsEMfkR #UAheLqhlosespace {
	margin:calc(5px * 1.3);
}

#UAcNsOcEQK {
	width: calc(320px * 1.3);
}

#UAcNsOcEQK .UAQlkWAD {
	width: calc(115px * 1.3);
	height: calc(35px * 1.3);
	padding-top: calc(7px * 1.3);
	border-radius: calc(2px * 1.3);
}

#UAcNsOcEQK .UAXXISs {
	width: calc(115px * 1.3);
	height: calc(35px * 1.3);
    padding-top: calc(7px * 1.3);
	border-radius: calc(2px * 1.3);
}

#UAbczwv #UAtsrTI div.UAEqbmS > div.UAnKgbuR {
	width: calc(320px * 1.3);
	height: calc(100px * 1.3);
}

#UAbczwv #UAtsrTI div.UAEqbmS > div.UAnKgbuR img {
	height: calc(100px * 1.3);
}

#UAbczwv #UAtsrTI #UAvMMgkt {
	top: calc(220px * 1.3);
}

#UAbczwv #UAtsrTI #UAIhCHxu {
	top: calc(220px * 1.3);
}

#UAbczwv #UAtsrTI #UADxiQo {
	bottom: calc(195px * 1.3);
}

#UAbczwv #UAtsrTI #UADtUgc {
	bottom: calc(195px * 1.3);
}

#UADxiQo div.UASlKdBxf div.UAllfapx,
#UAIhCHxu div.UASlKdBxf  div.UAllfapx,
#UADtUgc div.UASlKdBxf  div.UAllfapx,
#UAvMMgkt div.UASlKdBxf  div.UAllfapx {
	width: calc(25px * 1.3) !important;
	height: calc(24px * 1.3) !important;
	font-size: calc(24px * 1.3);
	margin: calc(20px * 1.3) calc(10px * 1.3) calc(5px * 1.3);
}

#UADxiQo div.UASlKdBxf > div.UAzQDRvY,
#UAIhCHxu div.UASlKdBxf > div.UAzQDRvY,
#UADtUgc div.UASlKdBxf > div.UAzQDRvY,
#UAvMMgkt div.UASlKdBxf > div.UAzQDRvY {
	height: calc(24px * 1.3) !important;
	font-size: calc(16px * 1.3);
	line-height:calc(64px * 1.3);
}

#UAtsrTI .UAEqbmS .UAKneaTg {
	width: calc(320px * 1.3);
	height: calc(102px * 1.3);
}
#UADYCgbC img {
	width: calc(20px * 1.3) !important;
}
 
#UAsHKEDhiteMouse img{
	width: calc(20px * 1.3) !important;
}
#UAtsrTI .UAEqbmS .UAagYfBuz img {
	margin: 0 calc(5px * 1.3);
}


#UAtsrTI .UAEqbmS .UAagYfBuz {
	box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
	width: calc(295px * 1.3);
}
	    


#UAtsrTI .UAEqbmS .UAemuOMzD {
	width: calc(149px * 1.3);
	height: calc(60px * 1.3);
	font-size: calc(14px * 1.3);
    box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
}

#UAtsrTI .UAEqbmS .UAjRoiNVdB {
	width: calc(97px * 1.3);
	height: calc(95px * 1.3);
	font-size: calc(14px * 1.3);
	box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
	margin-top: calc(7px * 1.3);
}

#UAtsrTI .UAEqbmS .UAjRoiNVdB svg{
	bottom:calc(10px * 1.3);
}

#UAfnXBVtx  {
	height: calc(336px * 1.3);
	width: calc(170px * 1.3);
}

#UAfnXBVtx.UAUmquRGs > div > div {
	width: calc(56px * 1.3);
	height: calc(56px * 1.3);
}


#UAfnXBVtx.UAUmquRGs input {
	width: calc(56px * 1.3) !important;
	height: calc(56px * 1.3) !important;
}


#UAfnXBVtx.UAUmquRGs {
	height: calc(332px * 1.3);
	width: calc(170px * 1.3);
}

#UAfnXBVtx.UAUmquRGs > div >  div {
	border: calc(1px * 1.3) solid #ededed;
	padding: calc(8px * 1.3) calc(15px * 1.3)12px;
	width: calc(56px * 1.3) !important;
	height: calc(56px * 1.3) !important;
}

#UAfnXBVtx .UAxERArv {
	width: calc(170px * 1.3) !important;
	height: calc(56px * 1.3) !important;
}

#UAfnXBVtx.UAUmquRGs div input {
	width: calc(56px * 1.3);
	height: calc(54px * 1.3);
}

#UAYgSBy #UAzrZoBQU {
	width: calc(640px * 1.3);
	height: calc(152px * 1.3);
}

#UAYgSBy #UAgAgqkhXs {
	width: calc(640px * 1.3);
	height: calc(152px * 1.3);

}

#UAYgSBy #UAbDijVsG {
	width: calc(640px * 1.3);
	height: calc(152px * 1.3);
}


#UAYgSBy #UAbDijVsG #UAfWEhYHja {
	width: calc(640px * 1.3);
	height: calc(32px * 1.3);
}

#UAYgSBy #UAbDijVsG #UAfWEhYHja .UAGJqrrTiJ{
	width: calc(55px * 1.3);
	height: calc(32px * 1.3);
	line-height: calc(32px * 1.3);
}

#UAYgSBy #UAbDijVsG #UAfWEhYHja .UAGJqrrTiJ#UAnLrQeVc {
}

#UAYgSBy #UAbDijVsG #UAuyRrQvyY {
	width: calc(640px * 1.3);
	height: calc(80px * 1.3);
}

#UAYgSBy #UAbDijVsG #UAuyRrQvyY .UAQUIbZWf {
	width: calc(50px * 1.3);
	height: calc(50px * 1.3);
	margin: calc(20px * 1.3) 0 0 calc(2px * 1.3);
	line-height: calc(50px * 1.3);
	font-size: calc(20px * 1.3);
}

#UAYgSBy #UAbDijVsG #UAImfEHLk {
	width: calc(640px * 1.3);
	border: calc(1px * 1.3) solid #31C1EE;
}


#UAYgSBy #UAbDijVsG #UAImfEHLk:after {
	border-top: solid calc(12px * 1.3) #31C1EE;
}

#UAYgSBy #UAbDijVsG #UAuyRrQvyY .UAQUIbZWf#UAvYRoyB {
	font-size: calc(25px * 1.3);
}

#UAYgSBy #UAbDijVsG #UAuyRrQvyY .UAQUIbZWf#UAfBtDQV {
	font-size: calc(25px * 1.3);
}

#UAYgSBy #UAbDijVsG #UATFuzwA {
	margin-top: calc(12px * 1.3);
	width: calc(260px * 1.3);
}


#UAYgSBy #UAHTcEZvx {
	height:calc(35px * 1.3);
}

.UAllfapx {
	width: calc(12px * 1.3) !important;
	height: calc(24px * 1.3)24px !important;
	font-size: calc(24px * 1.3);
	margin: calc(15px * 1.3) calc(10px * 1.3) 0;
}

#UAYxsTQfW {
	width: calc(300px * 1.3);
	height: calc(185px * 1.3);
}

#UAsCBWK {
	width: calc(225px * 1.3);
	height: calc(50px * 1.3);
	margin: calc(55px * 1.3) 0 0 0;
}

#UAaMgKQf {
	width: calc(50px * 1.3);
	height: calc(50px * 1.3);
	margin: calc(55px * 1.3) 0 0 0;
}

#UAsCBWK .UAYxsTQfWColor {
	margin: calc(6px * 1.3) calc(3px * 1.3) calc(1px * 1.3);
	width: calc(22px * 1.3);
	height: calc(22px * 1.3);
	border-radius: calc(17px * 1.3);
}

#UAaMgKQf .UAYxsTQfWColor {
	margin: calc(6px * 1.3) calc(3px * 1.3) calc(1px * 1.3);
	border: calc(1px * 1.3) solid #fff;
	width: calc(50px * 1.3);
	height:calc(50px * 1.3);
	border-radius: (50px * 1.3);
	font-size:calc(16px * 1.3);
	padding:calc(15px * 1.3) calc(12px * 1.3);
}


/************************************************/
#UAJuNkd {height:calc(226px * 1.3); padding: calc(5px * 1.3);}
#UAJuNkd #UAZfPciXwD {width: calc(663px * 1.3);}
#UAJuNkd #UARXfFjAP {margin:calc(5px * 1.3);padding: calc(5px * 1.3);border: calc(1px * 1.3) solid #333;-moz-border-radius: calc(5px * 1.3);-webkit-border-radius: calc(5px * 1.3);}
#UAJuNkd div[role="button"] {margin: 0 calc(5px * 1.3) calc(5px * 1.3) 0;width: calc(30px * 1.3);height: calc(30px * 1.3);line-height:calc(40px * 1.3);border: calc(1px12px * 1.3) solid #222222;-moz-border-radius: calc(5px * 1.3);-webkit-border-radius: calc(5px * 1.3);}
#UAJuNkd .UAtxSJksSM{width: calc(70px * 1.3) !important;}
#UAJuNkd #UAKspUnoard div[role="button"]:focus,#UAKspUnoard div[role="button"]:hover {top:calc(1px * 1.3);}
#UAJuNkd #UAKspUnoard div[role="button"].UAuizdfKz, #UAKspUnoard div[role="button"].UAWBvkAgq {width: calc(70px * 1.3) !important;}
#UAJuNkd #UAKspUnoard div[role="button"].UAheLqhapslock {width: calc(80px * 1.3);}
#UAJuNkd #UAKspUnoard div[role="button"].UANPuYz {width: calc(55px * 1.3);}
#UAJuNkd #UAKspUnoard div[role="button"].UAcAyTqSh {width: calc(77px * 1.3);}


#UAJuNkd #UAhxzRPzQLang div[role="button"].UAijpazF {height:calc(30px * 1.3);;width:calc(93px * 1.3) !important;}
#UAJuNkd #UAKspUnoard div[role="button"].UAFidQVSb {width:calc(548px * 1.3);}

#UAJuNkd #UAhxzRPzQLang{height:calc(185px * 1.3);width:calc(95px * 1.3) !important;}


[id^="UAMQIHj"] {
    width: calc(20px * 1.3);
    height:calc(20px * 1.3);
}



#UAxwWwQW {
    padding: calc(10px * 1.3) calc(10px * 1.3) !important;
    font-size: calc(16px * 1.3) !important;
}

#UAVNSkGh {
    height: calc(30px * 1.3) !important;
    margin-top: calc(20px * 1.3) !important;
}

#UAiJezvLOB {
	width:calc(300px * 1.3);
}

#UAReuMSk {
	border:calc(1px * 1.3) solid #fff;
	height: calc(100px * 1.3);
	margin :0 calc(3px * 1.3);
}



#UAJozHeen {
	border: calc(1px * 1.3) solid #fff;
	height: calc(100px * 1.3);
	margin :0 calc(3px * 1.3);
}

#UAfzIOi {
	padding: calc(5px * 1.3);
	font-size: calc(14px * 1.3);
}


#UAVYqCHtpA {
	padding:calc(5px * 1.3);
	font-size: calc(14px * 1.3);
}

.UATiPuTC {
	width: calc(36px * 1.3);
    height: calc(36px * 1.3);
	margin: calc(14px * 1.3) 0 0 calc(5px * 1.3) !important;
}

.UATiPuTC img{
	width: calc(36px * 1.3);
    height: calc(36px * 1.3);
}


#UAUWyCWOy{ 
    top: calc(5px * 1.3);
    width: calc(320px * 1.3);
}

#UAdDAfAFh{
	width: calc(320px * 1.3);
    height: calc(30px * 1.3);
}
#UAUWyCWOy .UAuRbYqExd{
	width:calc(25px * 1.3);
	height:calc(25px * 1.3);
	padding: calc(5px * 1.3);
	font-size: calc(16px * 1.3) !important;
}
#UAUWyCWOy #UAHLfAlIug{font-size:calc(16px * 1.3) !important;width:calc(170px * 1.3)!important;height:calc(38px * 1.3);}
#UAUWyCWOy select{font-size:calc(16px * 1.3) !important;width:calc(80px * 1.3);height:calc(40px * 1.3);}

#UAUWyCWOy #UAEdzErO{height:calc(40px * 1.3); width:calc(320px * 1.3) !important;}

#UAUWyCWOy #UAAzQMnBNj h3{font-size:calc(16px * 1.3) !important; padding: calc(5px * 1.3);}
#UAUWyCWOy #UAAzQMnBNj p{font-size:calc(16px * 1.3) !important;}
#UAUWyCWOy h2{font-size:calc(16px * 1.3) !important; padding: calc(5px * 1.3);width:calc(200px * 1.3)!important;}

#UAUWyCWOy hr{border:calc(1px * 1.3) solid #ccc!important;}


#UAPBcrs{
	width: calc(320px * 1.3);
    height: calc(85px * 1.3);
}

#UAwuToK{
	width:calc(320px * 1.3);
    height:calc(65px * 1.3);
    padding-top: calc(16px * 1.3);
}

#UAcjdPEU{
    font-size: calc(12px * 1.3)22px;
    border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
    -moz-border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
    -webkit-border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
    -webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
    padding: calc(5px * 1.3) calc(10px * 1.3);
    width: calc(300px * 1.3);
    line-height: calc(14px * 1.3);
    height: calc(32px * 1.3);
}

#UAlEQPC{
	width: calc(320px * 1.3);
    height: calc(35px * 1.3);
    box-shadow: inset 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
}

#UAVcVDHJyi{
	margin: 0px calc(10px * 1.3);
    font-size: calc(16px * 1.3);
    width: calc(300px * 1.3);
    height: calc(30px * 1.3);
    padding-top: calc(7px * 1.3);
}

#UAetFbTL{
	height: calc(444px * 1.3);
}

#UAQpYzsqq{
	width:calc(320px * 1.3);
	height:calc(115px * 1.3);
    padding-top: calc(33px * 1.3);
}
#UAcjdPEU{
    font-size: calc(19px * 1.3);
    border-top: calc(1px * 1.3) solid #fff;
	border-bottom: calc(1px * 1.3) solid #fff;
    padding: 0px calc(10px * 1.3);
    width: calc(300px * 1.3);
    line-height: calc(50px * 1.3);
    height: calc(50px * 1.3);
}

#UAcjdPEU img{
    width: calc(30px * 1.3);
	line-height: calc(50px * 1.3);
    padding-top: calc(14px * 1.3);
}

#UAmToaO {
	margin: 0px calc(10px * 1.3);
    font-size: calc(16px * 1.3);
    width: calc(300px * 1.3);
    height: calc(30px * 1.3);
    padding-top: calc(7px * 1.3);
}

#UAIoMCHXy {
	height:calc(410px * 1.3);
	width:calc(338px * 1.3);
	font-size:calc(14px * 1.3);
}


#UAIoMCHXy .UAPEjXFoes .UAWJUqhiX{
	border-bottom: calc(1px * 1.3) solid #ccc;
}

#UAIoMCHXy .UAPEjXFoes{
	    width: calc(318px * 1.3);
}

#UAIoMCHXy .UAPEjXFoes :focus{
	outline: calc(1px * 1.3) solid #000;
}

#UAIoMCHXy .UAPEjXFoes .UAWJUqhiX{
	padding:calc(5px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAIoMCHXy .UAPEjXFoes .UAWJUqhiX img{
    width: calc(15px * 1.3);
    top: calc(10px * 1.3);
}

#UAIoMCHXy .UAPEjXFoes .UAnJGZNVRA{
	padding:calc(5px * 1.3);
	font-size:calc(14px * 1.3);
	border-bottom: calc(1px * 1.3) solid #ccc;
}



#UAUqAZMA {
    width: calc(320px * 1.3);
    height: calc(115px * 1.3);
}

#UAUqAZMA #UAXVOJwQ{
	margin:calc(10px * 1.3);
	font-size: calc(16px * 1.3);
}

#UADcLOXR {
	width: calc(2320pxx * 1.3);
    height: calc(30px * 1.3);
	padding: calc(5px * 1.3) calc(10px * 1.3);
}

#UAYfpwhQ {
	width: calc(320px * 1.3);
    height: calc(325px * 1.3);
	padding: calc(3px * 1.3) calc(10px * 1.3);
}

#UAoMOjJoW{
	width: calc(320px * 1.3);
    height: calc(50px * 1.3);
}

#UAOyurRjg{
	height:calc(50px * 1.3);
	padding:calc(12px * 1.3) calc(10px * 1.3);
	font-size:calc(18px * 1.3);
}

#UAFlEwxReA{
	height:calc(50px * 1.3);
	padding:calc(12px * 1.3) calc(10px * 1.3);
	font-size:calc(18px * 1.3);
}

#UAbwSwC{
	height:calc(85px * 1.3);
	width:calc(300px * 1.3);
	padding:calc(10px * 1.3) calc(10px * 1.3) 0;
	font-size:calc(14px * 1.3);
}

#UAdVLyBCo{
	width:calc(1820px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAdVLyBCo .UAJpwGbO{
	width: calc(245px * 1.3);
    height: calc(180px * 1.3);
	margin:0 calc(5px * 1.3);
}
#UAdVLyBCo .UAJpwGbO .UAdcNoJX{
	width: calc(245px * 1.3);
    height: calc(75px * 1.3);
	font-size: calc(14px2px * 1.3);
	border-radius: calc(2px * 1.3) calc(2px * 1.3) 0px 0px;
	-moz-border-radius: calc(2px * 1.3) calc(2px * 1.3) 0px 0px;
	-webkit-border-radius: calc(2px * 1.3) calc(2px * 1.3) 0px 0px;
}


#UAdVLyBCo .UAJpwGbO .UAdcNoJX .UAwsFsmV{
	top:calc(10px * 1.3);
	width:calc(20px * 1.3);
	height:calc(20px * 1.3);
	font-size: calc(14px * 1.3);
}

#UAdVLyBCo .UAJpwGbO .UAdcNoJX .UAiUbNj{
	padding: calc(10px * 1.3) calc(25px * 1.3) 0 calc(15px * 1.3);
    font-size: calc(14px * 1.3);
}

#UAdVLyBCo .UAJpwGbO .UAfWjqOnf{
	width: calc(245px * 1.3);
    height: calc(90px * 1.3);
	-webkit-box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	-moz-box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	padding: calc(20px * 1.3) calc(40px * 1.3) 0;
	font-size:calc(14px * 1.3);
	border-radius: 0px 0px calc(2px * 1.3) calc(2px * 1.3);
	-moz-border-radius: 0px 0px calc(2px * 1.3) calc(2px * 1.3);
	-webkit-border-radius: 0px 0px calc(2px * 1.3) calc(2px * 1.3);
}


#UAdVLyBCo .UAJpwGbO .UAfWjqOnf [class^="UAMeoUgXXf"]{
	width: calc(50px * 1.3);
    height: calc(50px * 1.3);
	-webkit-box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	-moz-box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	font-size:calc(14px * 1.3);
	margin:calc(2px * 1.3);

}

#UAdVLyBCo .UAJpwGbO .UAfWjqOnf input[type="text"],
#UAdVLyBCo .UAJpwGbO .UAfWjqOnf textarea{
	width: calc(210px * 1.3);
    margin: 0 calc(-24px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAdVLyBCo .UAJpwGbO .UAfWjqOnf .UAIZXSC{
	margin: calc(20px * 1.3) 0;
}

#UAdVLyBCo .UAJpwGbO .UAfWjqOnf .UAIZXSC label{
	font-size: calc(14px * 1.3);
}

#UAdVLyBCo .UAJpwGbO .UAfWjqOnf .UAIZXSC input[type="text"]{
	height:calc(20px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAdVLyBCo .UAJpwGbO .UAfWjqOnf .UAIZXSC textarea {
	min-height:calc(40px * 1.3);
	font-size:calc(14px * 1.3);
	max-height:calc(40px * 1.3);
}



.UARypAbIY{
	font-size:calc(14px * 1.3);
}

.UAiMGzr{
	font-size:calc(14px * 1.3);
}

#UAdVLyBCo .UAJpwGbO .UAfWjqOnf .UARypAbIY.UAUXqhEE {
	font-size:calc(14px * 1.3);
}

[id^="UAccDvQLs"] {
	width:calc(339px * 1.3);
}




#loadAndiSystem {
	width:calc(338px * 1.3);
	height:calc(640px * 1.3);
}

#UAmWkasBRc {
	top:calc(30px * 1.3);
}

#UAfRlchhox {
	width: calc(296px * 1.3);
    height: calc(145px * 1.3);
	border-radius: calc(2px * 1.3);
}

#UAfRlchhox #UAfRlchhoxtext{
	margin:calc(30px * 1.3) auto 0;
	width: calc(237px * 1.3);
	border-radius: calc(2px * 1.3);
}

#UAPgWkoUg ,#UAovSKXxfJ{
	width:calc(120px * 1.3);
	height:calc(30px * 1.3);
	padding-top:calc(10px * 1.3);
}

#UAovSKXxfJ {
	width:calc(120px * 1.3);
	height:calc(30px * 1.3);
	padding-top:calc(10px * 1.3);
}


#UAAEjgpifB,
#UAjmftwo {
	width:calc(120px * 1.3);
	height:calc(30px * 1.3);
	padding-top:calc(10px * 1.3);
}

#UAuZayzgR{
	width: calc(30px * 1.3);
    height: calc(30px * 1.3);
}

#UAXMKWtcA {
	width: calc(30px * 1.3);
    height: calc(30px * 1.3);
}

#UAXcigl #UAdNkzt {
	bottom: calc(10px * 1.3);
}

#UAUBgbv {
	bottom: calc(10px * 1.3);
}

#UANuQAGkig, #UAyKVALE ,#UAUBgbv svg{
	width:calc(20px * 1.3);
	height:calc(20px * 1.3);
}

#UANuQAGkig {
	bottom:calc(4px * 1.3);
}

#UAyKVALE {
	bottom: calc(4px * 1.3);
	
}

#UAprAbpWeV {
	margin: 0 auto calc(-11px * 1.3);
	width: calc(40px * 1.3);
}

#UAmEJjn {
    height: calc(3px * 1.3);
    margin: calc(1px * 1.3) auto;
}


#UAspcVpd {
	margin: 0px auto calc(7px * 1.3);
    width: calc(3px * 1.3);
    height: calc(10px * 1.3);
}

#UAmkUkL {
	top: calc(-20px * 1.3);
}

#UAIPbmO{
	width: calc(3px * 1.3);
	height: calc(10px * 1.3);
}

#UAXcigl{
	width:calc(201px * 1.3);
	height: calc(95px * 1.3);
	font-size: calc(14px * 1.3);
	margin-top: calc(7px * 1.3);
	box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
}

.UAjgrQjm [role="button"]:hover,
.UAjgrQjm select:hover,
.UAjgrQjm input:hover,
.UAjgrQjm [role="button"]:focus,
.UAjgrQjm select:focus,
.UAjgrQjm input:focus {
	outline: calc(1px * 1.3) solid #fff !important;
}

.UAKneaTg .UAjRoiNVdB {
	border-radius: calc(2px * 1.3);
}

#UAvMMgkt .UAZWasQJ .UArUhmRBE {
	border:calc(1px * 1.3) solid #fff !important; 
	border-radius: calc(35px * 1.3) !important; 
	bottom: calc(10px * 1.3) !important; 
	width: calc(25px * 1.3); 
    height: calc(25px * 1.3);
	padding-top:calc(3px * 1.3);
	padding-right:calc(2px * 1.3);
	padding-left:calc(2px * 1.3);
}

#UApBczgr .UAdUhcWlTw {
	bottom:calc(10px * 1.3) !important; 
	width: calc(40px * 1.3); 
    height: calc(15px * 1.3);
	line-height: calc(15px * 1.3);
}

#UAfRlchhox :focus{
	outline: calc(1px * 1.3)  solid #000;
}

img[src*="UAVYsrkhg.png"]{
	width:  calc(320px * 1.3); 
	height:  calc(115px * 1.3);
}

#UAMiRzEiLB img,
#UAoSarCRCU img {
	margin: calc(8px * 1.3) auto;
    width: calc(16px * 1.3);
}



#UAhxzRPzQtab1middleHelp {
	width: calc(320px * 1.3);
    height: calc(445px * 1.3);
	top: calc(195px * 1.3);
}

#UAhxzRPzQtab1middleHelp .UAqNsbstTGskipbtn {
	top: calc(3px * 1.3);
	right: calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}

#UAhxzRPzQtab1middleHelp .UAqNsbstTGimg img{
	width: calc(320px * 1.3) !important;
	height: calc(445px * 1.3) !important;
	
}

#UAhxzRPzQtab1middleHelp .UAqNsbstTGchangetolivetext{
	bottom: calc(3px * 1.3);
	right: calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}



#UAhxzRPzQtab1SmalleHelp {
    width: calc(306px * 1.3);
    height: calc(100px * 1.3);
    margin: calc(6px * 1.3) auto 0;
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}

#UAhxzRPzQtab1SmalleHelp .UAqNsbstTGskipbtn {
	top: calc(3px * 1.3);
	right:calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}

#UAhxzRPzQtab1SmalleHelp .UAqNsbstTGimg img{
	width: calc(306px * 1.3) !important;
	height: calc(100px * 1.3) !important;
	
}

#UAhxzRPzQtab1SmalleHelp .UAqNsbstTGchangetolivetext{
	bottom: calc(3px * 1.3);
	right:calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}











#UAhxzRPzQtab1LargeHelp {
    width: calc(320px * 1.3);
    height:calc(500px * 1.3);
    box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5)
}


#UAhxzRPzQtab1LargeHelp #UAvQIeSGbaHelp{
    width: calc(320px * 1.3);
    height:calc(30px * 1.3) ;
}


#UAhxzRPzQtab1LargeHelp  #UAheLqhloseHelp input{
	width: calc(20px * 1.3);
	height: calc(20px * 1.3);
	padding:calc(3px * 1.3) calc(3px * 1.3) 0;
}
#UAhxzRPzQtab1LargeHelp #UAfYUsw{
	width: calc(320px * 1.3);
    height: calc(35px * 1.3);
}

#UAhxzRPzQtab1LargeHelp #UAfYUsw a{
    font-size: calc(14px * 1.3);
    line-height: calc(35px * 1.3);
}

#UAhxzRPzQtab1LargeHelp .UAqNsbstTGskipbtn {
	top: calc(3px * 1.3);
	right:calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	font-size: calc(16px * 1.3);
    padding: 1px calc(5px * 1.3);
    margin: calc(2px * 1.3);
}

#UAhxzRPzQtab1LargeHelp .UAqNsbstTGimg img{
	width: calc(320px * 1.3) !important;
	height: calc(445px * 1.3) !important;
	
}

#UAhxzRPzQtab1LargeHelp .UAqNsbstTGchangetolivetext{
	bottom: calc(38px * 1.3);
	right:calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	font-size: calc(16px * 1.3);
    padding: 1px calc(2px * 1.3);
    margin: calc(2px * 1.3);
}

#UAbczwv #UAtsrTI .UAMJAJzcz img {
	width: calc(149px * 1.3);
	height: calc(149px * 1.3);
	
}
