%header.subhead#overview
  %h2 Edit Long Description
  .subnav
    %ul.nav.nav-pills
      %li= link_to "Show", admin_container_path(@container)
      %li= link_to "View all Containers", admin_containers_path

= render 'form_long_descr'
