/*
*= require_self
*= require_tree ./user
*/
@import "bootstrap";
@import "bootstrap-responsive";
@import "icon-km";
@import "daterangepicker.css.scss";
@import "theme/projekktor-theme";
@import "bootstrap-rtl";

$mobile-fixed-navbar-height: 40px;

// User Mixings

@mixin before_after {
  content: "";
  position: absolute;
}

// Bootstrap override begin
.caret {
  margin-top: 8px !important;
}

// Bootstrap override end

body {
  background: #ccc;
}

.content-wrapper {
  background: #cccccc;
}

// Sticky Footer by Ryan Fait http://ryanfait.com/
//* {
//  margin: 0;
//}
//html, body {
//  height: 100%;
//}
//.content-wrapper {
//  min-height: 100%;
//  height: auto !important;
//  height: 100%;
//  margin-bottom: -50px; // the bottom margin is the negative value of the footer's height
//}
//.site-footer, .push {
//  height: 50px; // .push must be the same height as .footer
//}
//.site-footer {
//  background-color: red;
//}
// /Sticky Footer

.expander {
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent #000;
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  top: 6px;
  right: -14px;
}

#sidebar {
  background: #fff;
  @include border-radius(5px);
  padding: 0 0 15px;
  margin: 140px 0 0!important;
  #language_ids {
    width: 100%;
  }
  .active {
    position: relative;
    &:after {
      content: "";
      @extend .expander;
      border-color: transparent transparent transparent #fff;
      top: 9px;
      right: 0;
    }
  }
  .daterangepicker .active {
    &:after {
      display: none;
    }
  }
}

header {
  margin: 20px 0 30px;
  h1 {
    margin: 0 0 10px;
  }
  .row {
    position: relative;
  }
  form {
    position: absolute;
    bottom: 0;
  }
  .nav li {
    width: 20%;
    text-align: center;
  }
  .main_title {
    text-shadow: 0px 1px 0px #eee;
  }
}

.tags {
  margin-bottom: 20px;
  line-height: 14px;
  height: 38px;
  overflow: hidden;
  a {
    display: inline-block;
    margin: 0 3px 3px 0;
  }
}

.padding-both {
  padding: 0 10px;
}

.padding-left {
  padding: 0 0 0 10px;
}

.padding-right {
  padding: 0 10px 0 0;
}

.item {
  background: #fff;
  @include border-radius(5px);
  @include box-shadow((0 0 7px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.7)));
  margin: 0 0 20px;
  padding: 10px 0;
  h3, h4 {
    margin: 0 0 10px;
    line-height: 1.2;
    small.pull-right {
      line-height: 38px;
      a.active {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
  table {
    font-size: 12px;
  }
}

.item-list {
  background: #777;
  padding: 0;
  .item-list-meta {
    .padding-both {
      width: 100%;
    }
    text-align: center;
    hr {
      margin: 0 auto 5px;
      border-top: 1px solid #555;
      border-bottom: 1px solid #818181;
      display: block;
    }
    .badge {
      margin-bottom: 6px;
      font-size: 10px;
    }
  }
  .item-list-data {
    background: #fff;
    padding: 10px 0;
    @include border-radius(0 5px 5px 0);
  }
}

.languages-bar {
  margin: 0 -10px 10px;

  .nav-tabs {
    margin: 0;
    border: 1px solid #b3b3b3;
    border-width: 1px 0;
    background: #d8d8d8;
    li {
      @extend .f-right;
      border-width: 0 0 0 1px;
      border-style: solid;
      border-color: #b3b3b3;
      /*  border-width:1px 0 0 1px;*/

      &.tabs-title {
        @extend .f-left;
        line-height: 30px;
        border: 0 none;
        font-style: italic;
        @extend .padding-left;
      }
    }
    & > li > a {
      margin: 0;
      width: 29px;
      height: 29px;
      padding: 0;
      text-align: center;
      line-height: 30px;
      border-radius: 0;
      text-shadow: 0 1px #e4e4e4;
    }
    & > li > a, & > .active > a, & > .active > a:hover {
      border-width: 1px 0 0 1px;
      border-color: #e4e4e4;
    }
    & > .active > a, & > .active > a:hover {
      border-color: white;
    }
  }
}

.pagination {
  text-align: center;
  .pagination ul {
    background: #fff;
  }
  ul > .disabled {
    & > span, & > a, & > a:hover {
      background-color: #F5F5F5;
    }
  }
}

.topbanner {
  width: 550px;
  padding-top: 50px;
  overflow: hidden;
}

.navbar-fixed-top {
  position: fixed !important;
  .navbar-inner {
    padding: 0 !important;
  }
  z-index: 1200;
  .container-fluid {
    position: relative;
    .navbar-form {
      float: right;
    }
    .languages {
      float: right;
      width: 100px;
      margin: 5px 10px 0 5px;
    }
  }
}

.navbar .brand {
  padding: 5px 0 0 20px;
}

#content {
  position: relative;
}

#categories-menu {
  position: relative;
  .navbar {
    font-size: 13px;
    .nav {
      float: none;
      margin: 0;
      text-align: center;
      display: table-row;
      .category-li {
        display: table-cell;
        vertical-align: middle;
        float: none;
        &:last-child {
           > a {
            @include border-radius(0 4px 4px 0);
          }
        }

        &:first-child {
           > a {
            @include border-radius(4px 0 0 4px);
          }
        }
         > a {
          padding: 10px 3px;
          display: block;
        }
      }
      .category-li.active {
         > a {
          position: relative;

          &:before, &:after {
            position: absolute;
            content: '';
            border-style: solid;
            bottom: -9px;
            left: 50%;
            z-index: 1100;
          }
          &:before {
            border-width: 0 8px 8px 8px;
            border-color: #cccccc;
            border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
            margin-left: -8px;
          }
          &:after {
            border-width: 0 6px 6px 6px;
            border-color: transparent transparent white transparent;
            margin-left: -6px;
          }
        }
      }
    }
  }
  .navbar-inner {
    padding: 0;
    border: 0 none;
    display: table;
    width: 100%;
  }
  .divider-vertical {
    margin: 0;
    float: none;
    display: table-cell;
  }
  .category-modal {
    margin: 0;
    top: 100%;
    margin-top: 8px;
    left: -1px;
    position: absolute;
    width: 100%;
    .breadcrumb {
      padding: 0;
      background-color: #fff;
      margin: 0;
    }
    .modal-header {
      padding: 5px 10px 6px;
    }
    .modal-body {
      position: relative;
      padding: 0;
      //width: 700px;
      .categories-holder {
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        white-space: nowrap;
        font-size: 0;
        text-align: left;
      }
      .categories {
        font-size: 13px;
        height: 240px;
        overflow: hidden;
        overflow-y: scroll;
        //@extend .f-left;
        display: inline-block;
        margin: 0;
        //width: 225px;
        @include box-sizing(border-box);
        width: 33%;
        margin-left: 0.5%;
        padding-right: 5px;
        ul {
          margin: 0;
          padding: 10px 0;
          & li {
            //width: 180px !important;
            padding: 0 19px 0 10px;
            text-align: left !important;
            list-style: none;
          }
          li:nth-child(odd) {
            background: #f0f0f0;
          }

          .selected {
            background: #0088CC !important;
            a {
              color: #fff;
            }
            .children-amount {
              color: #fff;
            }
          }
          a {
            display: block;
            position: relative;
          }
        }
      }
      .column1 {
        margin: 0 !important;
      }
      .column2, .column2 ul {
        display: none;
      }
    }
  }
}

.toggle {
  width: 200px;
  margin: 0 0 7px;
  i {
    vertical-align: baseline;
  }
  .left-switch-link, .right-switch-link {
    @extend .f-right;
    line-height: 26px;
  }
  .switch {
    cursor: pointer;
    @extend .f-right;
    width: 66px;
    height: 22px;
    position: relative;
    background: #d6d6d6;
    padding: 3px;
    margin: 0 7px;
    @include border-radius(4px);
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.2));
    div {
      position: absolute;
      width: 30px;
      height: 20px;
      padding: 0;
      top: 3px;
      @include transition(left 0.1s);
      i {
        opacity: 1;
        margin: 4px 0 6px;
      }
    }
  }
  .left {
    left: 3px;
  }
  .right {
    left: 37px;
  }
  i {
    margin: 5px 10px 5px 11px;
    opacity: 0.3;
  }
}

.description {
  margin: 10px 0;
}

.projekktor {
  clear: both;
  direction: ltr;
}

.media-table {
  font-size: 11px !important;
  vertical-align: top;
  tbody td, thead th {
    padding: 0;
    text-align: center;
    position: relative;
  }
  tbody td {
    white-space: nowrap;
    &.download-url {
      white-space: normal;
    }
  }
  thead th {
    font-size: 9px;
    line-height: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    i {
      margin: 0 auto;
      display: block;
    }
  }
  .left-aligned-column {
    text-align: left;
  }
  a {
    display: block;
  }
}
.inner-table{
  width:100%;
  overflow: hidden;
  td{
    background:none!important;
    border:0 none!important;
    padding:0 5px!important;
    white-space: normal !important;
  }
  .table-buttons{
    vertical-align: middle;
    width:10%;
    white-space: nowrap !important;
    a{
      display: inline-block;
    }
  }
}
.tab-content {
  overflow: visible;
}

#dates_range {
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  padding: 3px 15px;
  margin-right: -15px;
  margin-left: -15px;
  .daterange {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #0088cc;
  }
  .caret {
    position: absolute;
    top: 0;
    right: 15px;
  }
}

.daterangepicker.opensright {
  margin-left: 19px;
  margin-top: 4px;
  &::after {
    left: 84px;
  }
  &::before {
    left: 83px;
  }
  .ranges {
    margin: 5px 10px !important;
    li {
      margin-bottom: 5px;
      @include border-radius(2px);
    }
    .daterangepicker_start_input, .daterangepicker_end_input {
      width: 50%;
      padding-left: 0 !important;
    }
    input {
      background: none;
      border: none;
      @include box-shadow(none);
      font-size: 13px;
      font-weight: bold;
      padding: 0;
      width: 100%;
    }
  }
  .calendar {
    margin: 5px 10px 5px 0;
  }
  .footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    // right align buttons
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    @include border-radius(0 0 6px 6px);
    @include box-shadow(inset 0 1px 0 $white);
    @include clearfix();
    // clear it in case folks use .pull-* classes on buttons

    // Properly space out buttons
    .btn + .btn {
      margin-left: 5px;
      margin-bottom: 0;
      // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .btn-group .btn + .btn {
      margin-left: -1px;
    }
    // and override it for block buttons as well
    .btn-block + .btn-block {
      margin-left: 0;
    }
  }
}

.no-results {
  position: relative;
  &:after {
    content: asset-url('no_results.png', image);
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -113px;
  }
}

.clear-filters {
  padding-top: 9px;
}

.children-amount {
  font-size: 11px;
  color: #666;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.navbar-form .input-append, .navbar-form .input-prepend {
  margin: 5px 0;
}

.container-fluid {
  //min-width: 980px - 2 * 20px;
  //width: auto !important;
  margin: 0 auto;
}

.left-menu-btn, .right-menu-btn {
  width: 10px;
  height: 20px;
  margin: 5px;
  position: relative;
  &:before, &:after {
    @include before_after;
    left: 7px;
    width: 18px;
  }
  &:before {
    height: 8px;
    border: 2px solid #fff;
    border-width: 2px 0;
    top: 8px;
  }
  &:after {
    background-color: #fff;
    height: 2px;
    top: 13px;
  }
}

.left-menu-btn {
  float: left !important;

}

.right-menu-btn {
  float: right !important;
}

/* Large desktop */
@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1200px - 2 * 20px;
  }
}

/* Portrait tablet to landscape and desktop */
//@media (min-width: 768px) and (max-width: 979px) {
//}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .full-screen {
    #content {
      padding: 1px 0;
      .item {
        @include border-radius(0);
        @include box-shadow(none);
        margin-bottom: 0;
      }
    }
  }
  .padding-left, .padding-right {
    padding: 0 10px;
  }
  .lessons-list{
    h4 .pull-left, h4 .pull-right {
      float: none;
    }
  }
  .projekktor {
    margin: 10px auto 20px;
  }
  .btn-toolbar {
    .btn-group {
      white-space: normal;
    }
  }
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .item-list-meta {
    .badge {
      padding-left: 6px;
      padding-right: 6px;
      font-size: 9px;
    }
  }
  .navbar-fixed-top {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar .brand {
    margin: 0 auto;
    float: none;
    padding: 6px 0 0;
    width: 200px;
    img {
      width: 200px;
    }
  }
  #content {
    padding: 1px 10px;
    margin-top: $mobile-fixed-navbar-height;
    background: #cccccc;
    //@include box-shadow(0 0 3px 3px rgba(0, 0, 0, 0.8));
    @include transition(all 0.3s 0 linear);
    &.show-left {
      @include translate(90%, 0);
      //@include transition(all 0.5s 0 linear);

    }
    &.show-right {
      @include translate(-90%, 0);
    }

  }
  .left-mobile-menu, .right-mobile-menu {
    position: fixed;
    top: $mobile-fixed-navbar-height + 1px;
    bottom: 0;
    width: 90%;
    overflow-y: scroll;
    z-index: 0;
    padding: 10px;
    background-color: #666;
    @include box-sizing(border-box);
    @include translate(-100%, 0);
    //@include transition(opacity 0.3s 0 linear);
    @include transition(all 0.3s 0 linear);
    &.show-left{
      @include translate(0, 0);
      //@include transition(opacity 0.3s 0.4s linear);
      //@include transition(all 0.3s 0.4s linear);
    }
    #sidebar {
      margin-top: 0 !important;
    }
  }
  .left-mobile-menu {
    left: 0;
  }
  .right-mobile-menu {
    right: 0;
  }
  .topbanner {
    width: 100%;
  }
  .main-layout {
    overflow: hidden;
  }
  .top-menu-div .languages, .top-menu-div form, #categories-menu, #sidebar, .top-menu-div .top-links {
    display: none;
    .left-mobile-menu & {
      display: block;
    }
  }
  .left-mobile-menu {
    .search_query_string {
      @include box-sizing(border-box);
      width: 100%;
      position: relative;
      padding-right: 70px;
    }
    #search_query_string {
      width: 100% !important;
      @include box-sizing(border-box);
      height: 30px;
    }
    & > * {
      margin: 0 0 10px 0;
    }
    h4 {
      color: #eee;
      font-size: 14px;
      line-height: 1;
    }
  }
  .tab-pane {
    @include clearfix;
  }
  .tabs-title {
    display: none;
  }
  .item-list .item-list-meta {
    text-align: left;
    .padding-both {
      line-height: 30px;
      .badge {
        background: none !important;
        font-size: 15px;
        margin: 0;
        padding: 0;
      }
       > * {
        vertical-align: middle;
      }
    }
    hr {
      display: none;
    }
  }
  .item-list .item-list-data {
    h5 {
      margin: 0 0 5px;
    }
    border-radius: 0 0 5px 5px;
    .padding-both {
      margin-top: 10px;
    }
  }
  .item {
    h4 {
      font-size: 14px;
    }
  }
  .nav.top-links {
    background: white;
    @include border-radius(5px);
    padding: 10px 15px;
  }
  #sidebar {
    position: relative;
    margin-top: 0;
  }
  #languages {
    @include box-sizing(border-box);
    width: 100%;
  }
  .daterangepicker {
    left: 5% !important;
    width: 90%;
    @include box-sizing(border-box);
    &.opensright {
      padding: 10px;
      margin-left: 0;
      .ranges {
        width: auto;
        padding: 0 !important;
        margin: 0 !important;
        @include box-sizing(border-box);
        input {
          background: none;
          border: none;
          @include box-shadow(none);
          font-size: 13px;
          font-weight: bold;
          padding: 0;
          width: 100%;
        }
      }
    }
    .range_inputs div {
      width: 50% !important;
    }
    .daterangepicker_end_input {
      padding-left: 0 !important;
    }
    .calendar {
      max-width: none !important;
      width: 100% !important;
      @include box-sizing(border-box);
      margin: 0 0 10px !important;
    }
  }
  #categories-menu {
    //position: relative;
    .navbar {
      //font-size: 13px;
      .nav {
        //float: none;
        //margin: 0;
        display: block;
        text-align: left;
        .category-li {
          display: block;
          width: auto;
          height: auto;
          float: none;
          border-bottom: 1px solid #dddddd;
          &:last-child {
            border: none;
          }
           > a {
            height: auto;
            width: auto;
            padding: 5px 10px;
            display: block;
            //vertical-align: middle;
            text-align: left;
            //line-height: 15px;
          }
        }
        .category-li.active {
           > a {
            position: relative;
            @include box-shadow(inset 0 2px 1px rgba(0, 0, 0, 0.125));
            &:before, &:after {
              position: absolute;
              content: '';
              border-style: solid;
              bottom: -8px;
              left: 50%;
              z-index: 1100;
            }
            &:before {
              border-width: 8px 8px 0 8px;
              border-color: #e6e6e6 transparent transparent transparent;
              margin-left: -8px;
            }
            &:after {
              display: none;
              //border-width: 0 6px 6px 6px;
              //border-color: transparent transparent white transparent;
              //margin-left: -6px;
            }
          }
        }
      }
    }
    .navbar-inner {
      //padding: 0;
      //border: 0 none;
      display: block;
      overflow: hidden;
    }
    .divider-vertical {
      display: none;
      //margin: 0;
      //width: 0 !important;
    }
    .category-modal {
      //margin: 0;
      //top: 48px;
      //left: -1px;
      position: static;
      //border: 0 none;
      border-color: #dddddd;
      border-width: 0 0 1px;
      @include border-radius(0);
      @include box-shadow(none);
      width: 100%;
      .breadcrumb {
        padding: 0;
        background-color: #fff;
        margin: 0;
      }
      .modal-header {
        padding: 0;
        border: 0 none;
        height: 10px;
        button {
          display: none;
        }
      }
      .modal-body {
        position: relative;
        padding: 0;
        //width: 700px;
        .categories-holder {
          overflow-x: auto;
          overflow-y: hidden;
          width: 100%;
          white-space: nowrap;
          font-size: 0;
          text-align: left;
        }
      }
    }
  }

  #categories-menu .category-modal .modal-body .categories {
    width: 99%;
    margin-left: 1%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
}