<p><%#= f.label :first_name %></p>
<p><%#= f.text_field :first_name %></p>
 
<p><%#= f.label :last_name %></p>
<p><%#= f.text_field :last_name %></p>
 
<p><%= f.label :email %></p>
<p><%= f.text_field :email %></p>
 
<% if can? :read, Role %>
  <%= f.association :roles %>
<% end %>
