=javascript_include_tag 'http://partner.googleadservices.com/gampad/google_service.js'
:javascript
  GS_googleAddAdSenseService("ca-pub-9068547212525872");
  GS_googleEnableAllServices();
:javascript
  GA_googleUseFriendlyIframeRendering();
  GA_googleFillSlotWithSize('ca-pub-9068547212525872', 'Kabbalah_media', 550, 85);