- # ПОМЕСТИТЕ ЭТОТ ТЕГ В РАЗДЕЛ заголовка
=javascript_include_tag "http://partner.googleadservices.com/gampad/google_service.js"

:javascript
  GS_googleAddAdSenseService("ca-pub-9068547212525872");
  GS_googleEnableAllServices();
:javascript
  GA_googleAddSlot("ca-pub-9068547212525872", "Kabbalah_media");
:javascript
  GA_googleFetchAds();
- # КОНЕЦ ТЕГА ДЛЯ РАЗДЕЛА заголовка
